* {
    margin-top: 0%;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.background-blue {
    background-color: #A7BEAE;
}

.text-element2 {
    color: #937666;
}

.bg-element1 {
    background-color: #D3C0CD;
}

.background-element3 {
    background-color: #A7BEAE;
}

.heading1 h1 {
    padding: auto; /* This doesn't actually do anything, you might want to specify padding values */
}

@media screen and (max-width: 1024px) {
    .mainimg {
        display: none !important;
    }
    
    .heading1 {
        margin-left: 0%;
    }
    
    .button1 {
        margin-top: 10%;
    }
    
    .tnc {
        display: none !important;
    }
}
.navbar{
    box-shadow: 0px 0px 20px 20px #e1fafc;
}
.heading1 {
    margin-left: 5%;
}

.tnc {
    margin-left: 5%;
    margin-top: 15%;
}

.tnc1 {
    margin-top: 10%;
}
.signintop{
    width: 15vh;
    height: 5vh;
    background-color: white;
    border: solid 1px;
    color: black;
    transform: scale(.95);
    margin-right: 2vh;
}
.post{
    width: 15vh;
    height: 5vh;
    background-color: white;
    border: solid 1px;
    color: black;
    transform: scale(.95);
}
.signintop:hover{
    transform: scale(1);
    background-color: #A7BEAE;
}
.post:hover{
    transform: scale(1);
    background-color: #A7BEAE;
}
.cards {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2%;
}

@media screen and (min-width: 1024px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 2%;
        padding: 0 5%;
    }
    .tnc {
        display: none !important;
    }
}

.companies {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4%;
    margin-left: 4%;
}

@media screen and (min-width: 768px) {
    .companies {
        grid-template-columns: repeat(3, 1fr);
    }
    .support .policies{
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10%;
    }
}

.cardcompanies {
    background-color: white;
    border-radius: 6%;
    width: 90%;
    box-shadow: inset 0px 0px 40px 4px rgb(187, 187, 187);
    text-align: center;
    transform: scale(0.95);
    margin-bottom: 2%;
}

.post {
    border-radius: 15%;
    width: 100%;
}

.cardcompanies img {
    margin-top: 5%;
}

.hd1 {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 2%;
}

.cardcompanies:hover {
    transform: scale(1);
}

.support {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4%;
    margin-top: 0%;
    background-color: #A7BEAE;
}

@media screen and (min-width: 768px) {
    .support {
        grid-template-columns: 1fr 1fr;
        padding: 0 5%;
    }
}
.support .policies ul li {
    list-style: none;
    padding-bottom: 2%;
    color: rgb(100, 100, 100);
}

.support .policies ul li:hover {
    color: black;
    cursor: pointer;
}
#contactbtn{
    background-color: white;
    border: solid 1px rgb(133, 133, 133);
    margin-top: 5%;
    margin-right: 3%;
    color: blue;
    border-radius: 10%;
}
#contactbtn:hover{
    cursor: pointer;
}
.news{
    margin-top: 10%;
}
.scrollable{
    width: 100%;
    height: 20em;
    overflow-x: hidden;
    overflow-y: auto;
}
@media screen and (max-width: 1024px) {
    .news{
        margin-top: 20%;
    }
}
@media screen and (min-width: 1024px) {
    .news{
        margin-top: 2%;
    }
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.news .title{
    background-color: aliceblue;
}
#news-container{
    padding-left: 10%;
    padding-right: 10%;
}
#news-container .description{
    background-color: #888;
    padding-left: 20%;
    padding-right: 20%;
}