*{
    margin-top: 0%;
}
.background-blue{
    background-color: #A7BEAE;
}
.text-element2{
    color: #937666;
}
.bg-element1{
    background-color: #D3C0CD;
}

.background-element3{
    background-color:  #A7BEAE;
}
.heading1 h1{
    padding:auto;
}
@media screen and (max-width: 320px) {
    .mainimg{
        display: none !important;
    }
}
@media screen and (max-width: 320px) {
    .heading1{
        margin-left:0%;
    }
}
.heading1{
    margin-left: 5%;
}
.button1{
    margin-top: 10%;
}
.tnc{
    margin-left: 5%;
    margin-top: 15%;
}
.tnc1{
    margin-top: 10%;
}
@media screen and (max-width: 320px) {
    .tnc{
        display: none !important;
    }
}
@media screen and (min-width: 320px) {
    .tnc{
        display: none !important;
    }
}
.cards{
    
    margin-top: 5% ;
}

@media screen and (min-width: 320px) {
    .cards .row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cards .row [class^=col]{
        padding-left: 15%;
    }
}
@media screen and (max-width: 320px) {
   .cards .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   }
   
}
.companies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    margin-left: 4%;
}
.cardcompanies{
    background-color: white;
    border-radius: 6%;
    width: 90%;
    box-shadow: inset 0px 0px 40px 4px rgb(187, 187, 187);
    text-align: center;
    transform: scale(0.95);
}
.post{
border-radius: 15%;
width: 100%;
}
.cardcompanies img{
    margin-top: 5%;
}
.hd1{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 2%;
}
.cardcompanies:hover{
    transform: scale(1);
}

@media screen and (min-width: 320px) {
    .support{
        display: grid;
        grid-template-columns: .7fr 1fr;
        margin-top: 10%;
        background-color:#A7BEAE;
    }
    .support .policies ul li{
        list-style: none;
        padding-bottom: 2%;
        color: rgb(100, 100, 100);
    }
    .support .policies ul li:hover{
        color: black;
        cursor: pointer;
    }
    .policies{
        display: flex;
        gap: 10%;
    }
 }
 @media screen and (max-width: 320px) {
    .contact{
        text-align: center;
    }
    .support{
        margin-top: 10%;
        background-color:#A7BEAE;
    }
    .support .policies ul li{
        list-style: none;
        padding-bottom: 2%;
        color: rgb(100, 100, 100);
        cursor: pointer;
    }
    .support .policies ul li:hover{
        color: black;
    }
    .policies{
        display: flex;
        gap: 7%;
    }
 }
